.terkui-rounded-0 {
  border-radius: 0rem;
}

.terkui-rounded-1 {
  border-radius: 0.5rem;
}

.terkui-rounded-2 {
  border-radius: 0.75rem;
}

.terkui-rounded-3 {
  border-radius: 1rem;
}

.terkui-rounded-4 {
  border-radius: 1.5rem;
}

.terkui-rounded-5 {
  border-radius: 2rem;
}

/*
  TODO: rounded-top, rounded-end, rounded-bottom, rounded-start, rounded-circle, rounded-pill
*/
