.terkui-layout-wrapper {
  flex: 1 1;
  display: grid;
  grid-template-columns: max-content 1fr;
  /* grid-auto-rows: max-content auto; */
  /* position: relative; */
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem;
}

.check {
  flex: 1 1;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-auto-rows: max-content auto;
  position: relative;
}

.main {
  /* grid-column: 2 / span 1; */
  padding: 1rem;
  overflow-x: hidden;
}

.content {
  height: 100%;
  width: 100%;
  transition: 0.15s ease-out;
  padding: 1rem;
  /* width: calc(100% - 20rem); */
  /* margin-left: 20rem; */

}

@media (min-aspect-ratio: 0.8 / 1) and (min-width: 1000px) {
  /* main {
    grid-row: 1 / span 2;
  } */
}
