terkui-card {
  /*
    TODO: Check feasibility of passing flex props for a flexible layout (not just column)
    TODO: Check feasibility of passing props for padding, mapped to predefined design system classes
  */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding-bottom: 1rem;
  box-sizing: border-box;
}

.terkui-card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}


.terkui-card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.terkui-card-body {
  width: 100%;
  box-sizing: border-box;
}
