/* Modules */
@import "./styles/flexbox.css";
@import "./styles/height.css";
@import "./styles/transition.css";
@import "./styles/link.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --breakpoint-xs: 320px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --breakpoint-max-width-sm: 540px;
  --breakpoint-max-width-md: 720px;
  --breakpoint-max-width-lg: 960px;
  --breakpoint-max-width-xl: 1140px;
  --breakpoint-max-width-2xl: 1320px;

  --timeout-xs: 150ms;
  --timeout-sm: 200ms;
  --timeout-md: 250ms;
  --timeout-lg: 300ms;
  --timeout-xl: 350ms;
  --timeout-2xl: 400ms;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  width: 100%;
  display: flex;
}
