/* Modules */
@import "./styles/flexbox.css";
@import "./styles/height.css";
@import "./styles/transition.css";
@import "./styles/link.css";
@import "./styles/animation.css";
@import "./styles/opacity.css";
@import "./styles/color.css";
@import "./styles/background.css";
@import "./styles/text.css";
@import "./styles/padding.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --breakpoint-xs: 320px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --breakpoint-max-width-sm: 540px;
  --breakpoint-max-width-md: 720px;
  --breakpoint-max-width-lg: 960px;
  --breakpoint-max-width-xl: 1140px;
  --breakpoint-max-width-2xl: 1320px;

  --timeout-xs: 150ms;
  --timeout-sm: 200ms;
  --timeout-md: 250ms;
  --timeout-lg: 300ms;
  --timeout-xl: 350ms;
  --timeout-2xl: 400ms;

  --spacing-xs: 0.125rem;
  --spacing-sm: 0.25rem;
  --spacing-md: 0.5rem;
  --spacing-lg: 1rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 4rem;

  --icon-size-xs: 1rem;
  --icon-size-sm: 1.5rem;
  --icon-size-s: 2rem;
  --icon-size-md: 2.5rem;
  --icon-size-lg: 3rem;
  --icon-size-xl: 3.5rem;
  --icon-size-2xl: 4rem;

  --color-black: #212631;
  --color-white: #ffffff;
  --color-light-gray: #f3f4f7;
  --color-gray: #6b7785;
  --color-green: #1b9e3e;
  --color-red: #e55353;
  --color-blue: #3399ff;
  --color-purple: #5856d6;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  width: 100%;
  display: flex;
}
