.terkui-nav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.terkui-nav-filled {
  width: 100%;
}

.terkui-nav-justify-start {
  justify-content: flex-start;
}

.terkui-nav-justify-center {
  justify-content: center;
}

.terkui-nav-justify-end {
  justify-content: end;
}

.terkui-nav-direction-horizontal {
  flex-direction: row;
}

.terkui-nav-direction-vertical {
  flex-direction: column;
}

.terkui-nav-item {
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.terkui-nav-subtitle {
  font-size: 1rem;
  white-space: nowrap;
  padding: 0.75rem 1rem;
  margin: 0;
  letter-spacing: 2px;
}

.terkui-nav-item:hover {
  font-weight: 700;
  color: var(--color-light-gray);
  background-color: var(--color-gray);
}
